.serviceCard p {
  position: relative;
  transform: translateY(130%);
}

.serviceCard p::after {
  content: "";
  position: absolute;
  background-color: #ffc533;
  width: 130px;
  height: 100px;
  top: -90px;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
  /* display: none; */
}

.serviceCard:hover h3 {
  opacity: 0.8;
}
.serviceCard:hover p {
  transform: translateY(0%);
  position: relative;
  z-index: 5;

}

.serviceCard:hover p::after {
  opacity: 1;
}

.serviceCard:hover img {
  filter: brightness(0.5);
}
